body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: beige;
}

select, input[type="button"] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 2px;
  border-radius: 4px;
}

#main {
  padding: 2%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#sidebar { 
  flex: 1 1 0;
  align-self: auto;
  min-width: 280px;
  display: flex;
  flex-direction: row;
}

#sidebar-group-1, #sidebar-group-2 {
  flex: 1 1 0;
}

#board-container { 
  flex: 9 1 0;
  align-self: auto;
  height: 90vh;
}

#speed-label, #speed-slider {
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

#board {
  white-space: pre-wrap;
  height: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #005CC8;
}

@media screen and (orientation: landscape) {
  #main {
    flex-direction: row;
  }

  #sidebar {
    flex-direction: column;
  }

  #sidebar-group-1, #sidebar-group-2 {
    flex: 0 0 0;
  }
}

@media screen and (max-width: 700px), screen and (max-height: 450px) {
  #board {
    font-size: 10px;
  }
}
