.board {
  border: solid 1px grey;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: green;
}

#main {
  display: flex;
  justify-content: center;
}

/* flex-grow is what you're looking for on the subcontainers */

#sidebar {
  padding-top: 20px;
  justify-content: center;
  flex-grow: .5;  
}

#board-container {
  flex-basis: auto;
  padding: 20px;
}

